.recommendation {
  border: solid #3f51b5 2px;
  box-shadow: 5px 5px 10px #888888;
  border-radius: 10px;
  margin: 10px 5vw;
  padding: 15px;
}

.recommended {
  background-color: #ffca28;
  border-radius: 5px;
  text-align: center;
  padding: 4px;
}

.recommended h4 {
  margin: 0 auto;
}

.like,
.dislike {
  cursor: pointer;
}
body {
  margin: 0;
}

.header {
  background-color: #3f51b5;
  color: #fafafa;
  padding: 10px;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.create-modal,
.signin-modal {
  color: #0f0f0f;
}

.signin-popup-main {
  display: flex;
}

.signin-popup-main button {
  margin-left: 10px;
  width: 100px;
}

.signin-popup-main button,
.signin-popup-main select {
  height: 50px;
}

.user-space {
  display: flex;
}

.user-space h5 {
  margin: auto 10px;
}
